<h1>Todo</h1>

<div class="container">
  
        <fieldset class="form-group">
            <label>Descryption</label>
            <input type="text" [(ngModel)]="todo.descryption" class="form-control" name="descryption"
                required="required">
        </fieldset>

        <fieldset class="form=group">
            <label>Target Date</label>
            <input type="date" [ngModel]="todo.targetDate | date: 'yyy-MM-dd' "
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="descryption" required="required">
        </fieldset>

        <br>

    
        <button type = "submit" (click)="saveTodo()" class="btn btn-success" > SAVE </button>

</div>